

.main {
    padding-top: 65px;
}

/* 倒计时效果css*/
.ywDJS {
    background: url(../images/DJS.jpg) no-repeat;
    height: 105px;
    width: 780px;
    padding-top: 80px;
    margin: 0 auto;
    position: relative;
}

.kc_timer {
    height: 78px;
    width: 750px;
    position: absolute;
    left: 15px;
    top: 94px;
}

    .kc_timer ul li {
        font: 50px/50px "微软雅黑";
        color: #FFF;
        float: left;
        margin-right: 0px;
        letter-spacing: 33px;
        padding-left: 11px;
        background: none;
        list-style:none;
    }

.mmntname {
    position: absolute;
    left: -33px;
    top: -61px;
}

.enlarge{
    cursor:url('../images/cursor_enless.ico'),auto;
}
.enless{
    cursor:url("../images/cursor_enlarge.ico"),auto;
}

.retweeted_status{
    border-left: 5px solid #277AD8;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 8px;
}

.retweeted_status > h5 {
    margin-bottom: 3px;
    margin-top: -3px;
    font-size:15px;
    font-weight:bold;
}


